<div class="commonwidth" ng-controller="teacherTaskViewCtrl">
    <div class="commonbox">
        <div class="breadcrumbs">
            <a href="javascript:;" class="hover" ui-sref="teacher.ceshiList">测试管理</a> > 查看详情
        </div>

        <div class="task-details clearfix mt10">
            <div class="task-left">
                <h2 ng-bind="_taskInfo.PLANNAME"></h2>
                <div class="tagbox">
                    <span>
                        {{_taskInfo.PAPERNAME|EmptyText}}
                        <i class="arrow"></i>
                    </span>
                </div>
                <div class="answer-statis mt25">
                    <div class="answer-item">
                        <strong ng-bind="_taskInfo.MAXSCORE|scoreValueFormater|EmptyText" ng-class="_taskInfo.MAXSCORE|rankColorClassFilter"></strong>
                        <p>最高成绩</p>
                    </div>
                    <div class="answer-item">
                        <strong ng-bind="_taskInfo.MINSCORE|scoreValueFormater|EmptyText" ng-class="_taskInfo.MINSCORE|rankColorClassFilter"></strong>
                        <p>最低成绩</p>
                    </div>
                    <div class="answer-item">
                        <strong ng-bind="_taskInfo.AVGSCORE|scoreValueFormater|EmptyText" ng-class="_taskInfo.AVGSCORE|rankColorClassFilter"></strong>
                        <p>平均成绩</p>
                    </div>
                    <div class="answer-item">
                        <strong class="color-blue">
                            <span ng-bind="_taskInfo.SUCCESS|EmptyText"></span>
                            /
                            <span ng-bind="_taskInfo.TOTAL|EmptyText"></span>
                        </strong>
                        <p>提交人数/总人数</p>
                    </div>
                </div>
                <div class="comments mt20" ng-if="description" ng-cloak="" style="position: relative">
                    <strong style="position: absolute">评语：</strong>
                    <span ng-bind-html="description" style="padding-left: 50px;display: inline-block;"></span>
                </div>
            </div>
            <div class="task-right" ng-cloak="">
                <div ng-show="_taskInfo.SUCCESS > 0">
                    <div id="task-view-pie-container" style="width:290px;height:220px;"></div>
                    <p>成绩分布情况</p>
                </div>
                <div class="nodata-box nosubmit" ng-show="_taskInfo.SUCCESS <= 0">
                    <div class="img"><img src="static/images/no-submit.png" alt="暂无考生提交！"></div>
                    <div class="txt">暂无考生提交！</div>
                </div>
            </div>
        </div>

        <div class="searchbar clearfix">
            <div class="fl">
                <span class="inline-block combination">
                    <input class="cominput" type="text" placeholder="请输入学号\姓名\测试班级名称" ng-model="queryConditions.name" ng-enter="load_page(1)" style="width: 200px;">
                    <button class="combuttton" ng-click="load_page(1)"><i class="icon icon-other-search"></i></button>
                </span>
            </div>
        </div>

        <div class="stumanage-box mt25">
            <div class="common-table common-table-tc">
                <table  ng-hide="p_all_page === 0" ng-cloak>
                    <thead>
                    <tr>
                        <td>学号</td>
                        <td>姓名</td>
                        <td>性别</td>
                        <td>学院</td>
                        <td>专业</td>
                        <td>年级</td>
                        <td>班级</td>
                        <td>测试班级</td>
                        <td>测试次数</td>
                        <td>最高成绩</td>
                        <td>操作</td>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-class="{'even': $index % 2===0}"
                                ng-repeat="item in items">
                            <td ng-bind="item.account" max-char-over-show-title="10"></td>
                            <td ng-bind="item.name|EmptyText" max-char-over-show-title="5"></td>
                            <td ng-bind="item.gender|genderResolver"></td>
                            <td ng-bind="item.institution|EmptyText" max-char-over-show-title="5"></td>
                            <td ng-bind="item.major|EmptyText" max-char-over-show-title="10"></td>
                            <td ng-bind="item.grade|EmptyText" max-char-over-show-title="5"></td>
                            <td ng-bind="item.className|EmptyText" max-char-over-show-title="8"></td>
                            <!--<td ng-bind="item.email|EmptyText" max-char-over-show-title="10"></td>
                            <td ng-bind="item.telephone|EmptyText" max-char-over-show-title="11"></td>-->
                            <td ng-bind="item.taskClassName|EmptyText" max-char-over-show-title="5"></td>
                            <td>
                                <span ng-bind="item.exam_count"></span>
                            </td>
                            <td>
                                <span ng-bind="item.max_score|scoreValueFormater:item.exam_count"></span>
                            </td>
                            <td>
                                <a class="color-green" href="#/teacher/ckbg/{{item.account}}/{{item.recordCode}}/{{_curPaperType}}" ng-if="item.exam_count > 0">查看报告</a>
                                <a class="color-gray" ng-if="item.exam_count == 0">查看报告</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div ng-show="p_all_page === 0" ng-cloak class="nodata-box mt25">
                    <div class="img"><img src="static/images/no-records.png" alt="暂无记录！"></div>
                    <div class="txt">暂无记录！</div>
                </div>
            </div>

            <div class="common-page clearfix mt20">
                <!-- 只保留外面的导出功能
                <div class="fl">
                    <a href="{{_host}}/api/teacher/exportfinish.action?planCode={{_curTaskId}}"
                       class="common-btn common-btn-primary">
                        <i class="icon icon-other-export"></i> 导出完成详细</a>
                </div>-->
                <div class="pages" ng-show="p_all_page > 1" ng-cloak>
                    <a href="javascript:;" ng-click="load_page(1)">首页</a>
                    <a href="javascript:;" ng-click="load_page(p_current - 1)">上一页</a>

                    <a ng-repeat="n in []|midRange:p_all_page:p_current" go-page2="load_page(n)" href="javascript:;" ng-class="{'current' : p_current === n}">
                        {{n}}
                    </a>
                    <a href="javascript:;" ng-click="load_page(p_current + 1)">下一页</a>
                    <a href="javascript:;" ng-click="load_page(p_all_page)">尾页</a>
                </div>
            </div>
        </div>

    </div>
</div>