#--------OAuth2.0 Client Configuration---------
scope=read
#固定参数：客户端-服务端模式
grant_type=client_credentials
#应用注册的appid
client_id=testapp-2
#应用注册时获得秘钥
client_secret=123456
access_token=
#请求获取token的url
authentication_server_url=http://localhost:8433/oauth/token
#resource_server_url=http://jeffhoy1.rtp.raleigh.ibm.com:9080/snoop
#------------------------------------------------






















