<div ng-controller="changePasswordByEmailCtrl">

    <form autocomplete="off">

        <input style="display:none">
        <input type="password" style="display:none">


        <div class="userpassword-edit" style="padding-top: 0">

            <div class="edit-form mt50">
                <div class="inputbox clearfix">
                    <div class="proname"><em>*</em> 邮箱：</div>
                    <div class="procontent">
                        <input id="emailAddr" type="text" class="webinput" style="width: 230px;" placeholder="请输入邮箱" ng-model="userModel.email">

                        <span email-auto-complete="" data-inputid="emailAddr" data-model="userModel.email"></span>

                        <span get-code-by-email-button data-email="userModel.email"></span>
                    </div>
                </div>
                <div class="inputbox clearfix">
                    <div class="proname"><em>*</em> 验证码：</div>
                    <div class="procontent">
                        <input type="text" id="validatorCode" class="webinput" style="width: 230px;" placeholder="请输入验证码" ng-model="userModel.code" autocomplete="off">
                        <span verify-code-tip data-inputid="validatorCode" data-status="isValid"></span>
                    </div>
                </div>


                <div class="inputbox clearfix">
                    <div class="proname"><em>*</em> 新密码：</div>
                    <div class="procontent">
                        <input type="password" id="cetsim-changepass-by-email-new-pass" class="webinput" style="width: 230px;" placeholder="请输入6位数以上字母或数字"  ng-model="newPass" disable-cut-copy-paste="" autocomplete="off">

                        <span password-strength data-id="cetsim-changepass-by-email-new-pass"></span>
                    </div>
                </div>
                <div class="inputbox clearfix">
                    <div class="proname"><em>*</em> 再次输入新密码：</div>
                    <div class="procontent">
                        <input type="password" id="cetsim-changepass-by-email-confirm-pass" class="webinput" style="width: 230px;" placeholder="请输入6位数以上字母或数字" ng-model="confirmPass" disable-cut-copy-paste="" autocomplete="off">

                        <span password-strength data-id="cetsim-changepass-by-email-confirm-pass"></span>
                    </div>
                </div>

                <div class="mt25 tc color-red" style="display: none;"><i class="icon icon-other-warningred"></i> 两次输入的密码不一致</div>

                <div class="separated mt35"></div>

                <div class="btnsbox tc">
                    <a class="common-btn common-btn-primary" ng-click="submit()">修改密码</a>
                    <!--<a class="common-btn common-btn-primary disabled" ng-if="!isValid">修改密码</a>-->
                    <a class="common-btn ml20" go-back="">取消</a>
                </div>
            </div>
        </div>
    </form>




    <!--成功带按钮提示-->
    <div id="user-change-password-info-panel" class="common-pop" style="width: 440px; margin: 20px;display:none;">
        <!--<div class="pop-header">-->
        <!--修改密码-->
        <!--<a href="javascript:;" class="pop-btn-close" hide-pop="#changePasswordPanel"></a>-->
        <!--</div>-->
        <div class="pop-body pop-padding">
            <div class="pop-prompt">
                <i class="icon icon-other-success"></i>
                <p class="mt15">您的密码已修改，请使用新密码重新登录！</p>
            </div>
        </div>
        <div class="pop-footer">
            <button class="common-btn common-btn-primary" ui-sref="signin" hide-pop="#user-change-password-info-panel">重新登录</button>
        </div>
    </div>


</div>