<div ng-controller="changePasswordCtrl">


    <form autocomplete="off">

        <input style="display:none">
        <input type="password" style="display:none">


        <div class="userpassword-edit" style="padding-top: 0">

            <div class="edit-form mt50">
                <div class="inputbox clearfix">
                    <div class="proname"><em>*</em> 旧密码：</div>
                    <div class="procontent">
                        <input type="password" id="cetsim-changepass-by-old-oldpass" class="webinput" style="width: 230px;" placeholder="请输入旧密码" ng-model="oldPass" autocomplete="off">

                        <span class="ml10"  style="display: none;"><i class="icon icon-other-passed"></i></span>
                    </div>
                </div>
                <div class="inputbox clearfix">
                    <div class="proname"><em>*</em> 新密码：</div>
                    <div class="procontent">
                        <input type="password" id="cetsim-new-password" class="webinput" style="width: 230px;" placeholder="请输入6位数以上字母或数字"  ng-model="newPass" disable-cut-copy-paste="" autocomplete="off">

                        <span password-strength data-id="cetsim-new-password"></span>
                    </div>
                </div>
                <div class="inputbox clearfix">
                    <div class="proname"><em>*</em> 再次输入新密码：</div>
                    <div class="procontent">
                        <input type="password" id="cetsim-confirm-password" class="webinput" style="width: 230px;" placeholder="请输入6位数以上字母或数字" ng-model="confirmPass" disable-cut-copy-paste="" autocomplete="off">
                        <span password-strength data-id="cetsim-confirm-password"></span>
                    </div>
                </div>

                <div class="mt25 tc color-red" style="display: none;"><i class="icon icon-other-warningred"></i> 两次输入的密码不一致</div>

                <div class="separated mt35"></div>

                <div class="btnsbox tc">
                    <a class="common-btn common-btn-primary" ng-click="submit()">修改密码</a>
                    <a class="common-btn ml20" go-back="">取消</a>
                </div>

            </div>
        </div>
    </form>


    <!--成功带按钮提示-->
    <div id="user-change-password-info-panel" class="common-pop" style="width: 440px; margin: 20px;display:none;">
        <!--<div class="pop-header">-->
        <!--修改密码-->
        <!--<a href="javascript:;" class="pop-btn-close" hide-pop="#changePasswordPanel"></a>-->
        <!--</div>-->
        <div class="pop-body pop-padding">
            <div class="pop-prompt">
                <i class="icon icon-other-success"></i>
                <p class="mt15">您的密码已修改，请使用新密码重新登录！</p>
            </div>
        </div>
        <div class="pop-footer">
            <button class="common-btn common-btn-primary" ui-sref="signin" hide-pop="#user-change-password-info-panel">重新登录</button>
        </div>
    </div>

</div>