<div id="cetsim-forget-password-panel"  style="display: none" ng-controller="forgetPasswordCtrl">
    <div style="width: 530px;margin: 0 auto;">


        <div class="edit-form mt50" ng-if="step === 1">
            <div class="inputbox clearfix">
                <div class="proname"><em>*</em> 账号：</div>
                <div class="procontent">
                    <input type="text" class="webinput" style="width: 230px;" placeholder="请输入账号" ng-model="userModel.account">

                </div>
            </div>

            <div class="inputbox clearfix">
                <div class="proname"><em>*</em> 邮箱：</div>
                <div class="procontent">
                    <input id="emailAddr" type="text" class="webinput" style="width: 230px;" placeholder="请输入邮箱" ng-model="userModel.email">

                    <span email-auto-complete data-inputid="emailAddr" data-model="userModel.email"></span>

                    <span get-code-by-email-button data-email="userModel.email" data-account="userModel.account"></span>
                </div>
            </div>
            <div class="inputbox clearfix">
                <div class="proname"><em>*</em> 验证码：</div>
                <div class="procontent">
                    <input type="text" id="validatorCode" class="webinput" style="width: 230px;" placeholder="请输入验证码" ng-model="userModel.code">
                    <span verify-code-tip data-tipid="forgetpass-code" data-inputid="validatorCode" data-status="isValid"></span>
                </div>
            </div>

            <div class="btnsbox tc" style="margin:30px 10px">
                <button class="common-btn common-btn-primary" ng-click="next()" ng-if="isValid">修改密码</button>
                <button class="common-btn common-btn-primary disabled" ng-if="!isValid">修改密码</button>
                <button class="common-btn ml20" hide-pop="#cetsim-forget-password-panel">取消</button>
            </div>
        </div>

        <div class="edit-form mt50" ng-if="step === 2">

            <div class="inputbox clearfix">
                <div class="proname"><em>*</em> 新密码：</div>
                <div class="procontent">
                    <input type="password" id="cetsim-forget-pass-new-pass" class="webinput" style="width: 230px;" placeholder="请输入新密码" ng-model="userModel.password">

                    <span password-strength data-id="cetsim-forget-pass-new-pass"></span>
                </div>
            </div>
            <div class="inputbox clearfix">
                <div class="proname"><em>*</em> 确认新密码：</div>
                <div class="procontent">
                    <input type="password" id="cetsim-forget-pass-confirm-pass" class="webinput" style="width: 230px;" placeholder="确认新密码" ng-model="userModel.password2">

                    <span password-strength data-id="cetsim-forget-pass-confirm-pass"></span>
                </div>
            </div>

            <div class="btnsbox tc" style="margin:30px 10px">
                <button class="common-btn common-btn-primary" ng-click="changePassword()">修改密码</button>
                <button class="common-btn ml20" hide-pop="#cetsim-forget-password-panel">取消</button>
            </div>
        </div>

    </div>
</div>

<!--成功带按钮提示-->
<div id="user-change-password-info-panel" class="common-pop" style="width: 440px; margin: 20px;display:none;">
    <!--<div class="pop-header">-->
    <!--修改密码-->
    <!--<a href="javascript:;" class="pop-btn-close" hide-pop="#changePasswordPanel"></a>-->
    <!--</div>-->
    <div class="pop-body pop-padding">
        <div class="pop-prompt">
            <i class="icon icon-other-success"></i>
            <p class="mt15">您的密码已修改，请使用新密码重新登录！</p>
        </div>
    </div>
    <div class="pop-footer">
        <button class="common-btn common-btn-primary" ui-sref="signin" hide-pop="#user-change-password-info-panel">重新登录</button>
    </div>
</div>